language: ruby
before_install:
  - gem update --system
  - gem update bundler
  - bundle install --no-deployment
rvm:
  - 2.4.2
  - 2.3.5
  - 2.2.8
  - 2.1.3
  - 2.0.0
  - 1.9.3
  - jruby
  - ruby-head
  - rbx-2
matrix:
  allow_failures:
    - rvm: jruby
    - rvm: ruby-head
    - rvm: rbx-2
  fast_finish: true

gemfile:
  - gemfiles/rails_3.gemfile
  - gemfiles/rails_4.gemfile
  - gemfiles/rails_4.1.gemfile
  - gemfiles/rails_4.2.gemfile
  - gemfiles/rails_5.0.gemfile
